<div>
  <nav>
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        mat-icon-button
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button
        mat-flat-button
        color="primary"
        id="helloweirdo"
        [routerLink]="['/']"
      >
        helloweirdo
      </button>
      <button
        type="button"
        aria-label="open form"
        mat-raised-button
        color="accent"
        class="nav-buttons"
        [routerLink]="['/form']"
      >
        form
      </button>
      <button
        type="button"
        aria-label="search data"
        mat-raised-button
        color="accent"
        class="nav-buttons"
        [routerLink]="['/datasearch']"
      >
        data search
      </button>
    </mat-toolbar>
  </nav>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [fixedTopGap]="64"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false"
    >
      <!-- <mat-toolbar color="accent">Menu</mat-toolbar> -->
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet> </router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
